/* Selectordiv,P, Div P, Div > P:
First Letter, :First Line, :First Child, :LastChild, :Nth Child(), :Nth Last Child(), ::Selection */


div{
    color: blue; 
    font-size: large;
}

div:first-letter {
    font-size: 3rem;
    color: red;
}

  
div:first-line {
    font-weight: bold;
    background-color: chartreuse;
    
}

div p:last-child {
    color: yellowgreen
}

div p:nth-child(2) {
    color: orange;
    text-transform: capitalize;
}

div p:nth-child(5) {
   color: aquamarine;
}

h1{
    text-transform: uppercase;
}
 
h1::selection{
    background-color: chartreuse;
    font-size: 50px;
    color: chocolate; 
}
  
  